/* CycleForm.css */

form {
  display: flex;
  flex-direction: column;
}

form h2 {
  margin-bottom: 15px;
}

form label {
  margin-top: 10px;
  font-weight: 500;
}

form input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

form button {
  margin-top: 20px;
  padding: 12px;
  background: #6c63ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

form button:hover {
  background: #574fd6;
}